<h1><%= @pet.name %></h1>

<p>found: <%= @pet.address %></p>
<p>date: <%= @pet.date %></p>

<p><%= link_to 'Back to list', pets_path %></p>
<p><%= link_to 'Edit', edit_pet_path(@pet) %></p>
<p><%= link_to 'Delete', pet_path(@pet), method: :delete, data: { confirm: 'are you sure=' } %></p>
